<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.quiz03.dao.Real_estateDAO">
	<select id="selectReal" parameterType="map"
		resultType="com.example.quiz03.model.Real_estate">

		select
		id
		,realtorId
		,address
		,area
		,type
		,price
		,rentPrice
		,createdAt
		,updatedAt
		from
		real_estate
		where
		id = #{id};

	</select>
	
	<select id="selectReal2" parameterType="map"
		resultType="com.example.quiz03.model.Real_estate">

		select
		id
		,realtorId
		,address
		,area
		,type
		,price
		,rentPrice
		,createdAt
		,updatedAt
		from
		real_estate
		where
		type = '월세'
		and
		rentPrice &lt; #{rentPrice}

	</select>
	
	<select id="selectReal3" parameterType="map"
		resultType="com.example.quiz03.model.Real_estate">

		select
		id
		,realtorId
		,address
		,area
		,type
		,price
		,rentPrice
		,createdAt
		,updatedAt
		from
		real_estate
		where
		area &gt;= #{area}
		or
		price &lt;= #{price}
		order by
		id desc

	</select>

</mapper>

